.textCenter {
  text-align: center;
}

.py8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.textLight {
  color: #f8f9fa;
}

.textDark {
  color: #212529;
}

.bgStone400 {
  background-color: #cbd5e0;
}

.bgStone700 {
  background-color: #2d3748;
}

.textGray800 {
  color: #2d3748;
}

.textGray200 {
  color: #edf2f7;
}