/* General Navbar Styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Notice Styles */
  .notice {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
  }
  .noticeDay {
    background-color: #e2e8f0;
    color: #2d3748;
  }
  .noticeNight {
    background-color: #2d3748;
    color: #e2e8f0;
  }
  
  /* Nav Styles */
  .nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navDay {
    background-color: #edf2f7;
    color: #2d3748;
  }
  .navNight {
    background-color: #1a202c;
    color: #e2e8f0;
  }
  
  /* Branding Styles */
  .branding {
    display: flex;
    align-items: center;
  }
  .brandingIcon {
    margin-right: 0.5rem;
  }
  .brandingText {
    margin-right: 1.25rem;
  }
  
  /* Night Mode Switch Styles */
  .nightModeSwitch {
    position: relative;
    display: flex;
    align-items: center;
  }
  .nightModeSwitchButton {
    margin-right: 0.5rem;
  }
  .nightModeDropdown {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    background-color: #2d3748;
    color: #e2e8f0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dropdownDay {
    background-color: #edf2f7;
  }
  .dropdownNight {
    background-color: #1a202c;
  }
  .dropdownContent {
    margin-left: 0.5rem;
  }
  